<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body class="grey-bg">
    <%- include('nav.ejs') -%>
        <%= JSON.stringify(result) %>
            <div class="detail-bg">
                <div class="chat-screen">
                    <div class="chat-box"><span>안녕하세요</span></div>
                    <div class="chat-box"><span>안녕하세요</span></div>
                    <div class="chat-box mine"><span>안녕하세요</span></div>
                </div>
            </div>
            <form action="">
                <input class="chat-input">
                <button class="chat-button" type="button">전송</button>
            </form>
            <!-- <div class="chat-form">

            </div> -->
</body>


<script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
<script>
    const socket = io()
    // socket.emit('데이터이름', '데이터')
    socket.emit('ask-join', '1')

    document.querySelector('.chat-button').addEventListener('click', function () {
        console.log('hi button pressed')
        socket.emit('message', { msg: 'hello message', room: '1' }) // don't forget to put it in as a string 
    })

    // socket.on('name', (data) => {
    //     console.log(data)
    // })//데이터 


    socket.on('broadcast', (data) => {
        console.log('hello socket.on broadcast')
        console.log(data)
    })
</script>

</html>

<!--실시간채팅 만들기 
    
-->