<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body class="grey-bg">
    <%- include('nav.ejs') -%>
        <div class="detail-bg">
            <h4>
                <%= post.title %>
            </h4>
            <p>
                <%= post.content %>
            </p>

            <img src="<%=post.img %>">
        </div>


        <!-- Comments Display Section -->
        <div id="comments-section">
            <h3>Comments</h3>
            <!-- Comments will be displayed here -->
        </div>
        <div>
            <form id="comment-form" action="/comment" method="post">
                <label for="comment">Your Comment:</label>
                <textarea class="comment" name="comment" rows="3" cols="10"></textarea>
                <button type="submit">Post Comment</button>
            </form>
        </div>
</body>

</html>